<h1><%= t("admin.category") %></h1>
<div class="form-group">
  <%= link_to new_admin_category_path, class: "btn btn-success" do %>
    <span class="fa fa-plus"></span><%= t("admin.categories.add_new") %>
  <% end %>
</div>

<div class="col-sm-3">
  <%= search_form_for [:admin, @q] do |f| %>
    <div class="form-group">
      <%= f.text_field :name_cont, class:"form-control", placeholder: t("admin.categories.look_for")%>
    </div>
    <%= f.submit t("admin.categories.search"), class:"btn btn-primary" %>
  <% end %>
</div>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, t("admin.places.name")) %></th>
    </tr>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td>
             <%= link_to t("edit"), edit_admin_category_path(category), class: "btn btn-info btn-xs" %>
          </td>
          <td>
             <%= link_to t("delete"), admin_category_path(category), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-xs" %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>

<%= paginate @categories %>