<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <%= simple_form_for [:admin, @user] do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :role, collection: User.roles.keys %>
      <%= f.button :submit, class: "btn btn-info"%>
    <% end %>
  </div>
</div>