<% places.each_slice(3) do |slice| %>
<div class="row">
  <% slice.each do |place| %>
  <div class="col-md-4">
   <div class="thumbnail">
      <div class="caption">
      <h3><%= link_to place.name, place %></h3>
      <p><%= simple_format(truncate(place.description, length: 90)) %></p>
      <p class="lead"><%= number_to_currency place.price %></p>
      <p>
          <%= link_to root_path, class: "btn btn-primary" do %>
          <span class="fa fa-plus"><%= t("places.add") %></span>
          <% end %>
     </p>
      </div>
   </div>
  </div>
 <% end %>
</div>
<% end %>